// Colors
$color-primary: #00c8ff; // أزرق مميز
$color-secondary: #ff0077; // وردي بنفسجي
$color-accent: #ffe600; // أصفر زاهي
$color-light: #ffffff;
$color-dark: #111111;
$color-dark-hover: #111111b8;

// Fonts
$font-main: "Poppins", sans-serif;
// Breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 1200px;
